$main-font: 'Montserrat', sans-serif;


body {
    background-color: #a2b2bb;
    font-family: $main-font;
}

#map { 
    height: 100vh;
    position: relative;
 }

.date {
    position: absolute;
    top: 200px;
    right: 20px;
    z-index: 1;
}